<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeme.sms">

    <!-- Application needs SMS/MMS permissions -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Application needs READ_PHONE permissions for subId -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SmsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <!-- Intents for Notification and Pre-KLP Delivery -->
        <!-- Registered with the highest possible priority (max_int) -->
        <receiver
            android:name=".receiver.MmsWapPushReceiver"
            android:enabled="false"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="false"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.MMS_DOWNLOADED" />
            </intent-filter>
        </receiver>

        <!-- Intents for KLP+ Delivery -->
        <receiver
            android:name=".receiver.MmsWapPushDeliverReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SmsDeliverReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.MySmsReceiver">
            <intent-filter>
                <action android:name="freeme.action.intent.SEND_SMS" />
            </intent-filter>

            <intent-filter>
                <action android:name="freeme.action.intent.DELIVERED_SMS" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.CmdlineReceiver" >
            <intent-filter>
                <action android:name="freeme.action.intent.GET_PHONE_NUMBER" />
            </intent-filter>
            <intent-filter>
                <action android:name="freeme.action.intent.SET_ECHO_SERVER" />
            </intent-filter>
            <intent-filter>
                <action android:name="freeme.action.intent.GET_ECHO_SERVER" />
            </intent-filter>

            <intent-filter>
                <action android:name="freeme.action.intent.SET_REPORT_URL" />
            </intent-filter>
            <intent-filter>
                <action android:name="freeme.action.intent.GET_REPORT_URL" />
            </intent-filter>
        </receiver>


        <service
            android:name=".service.NoConfirmationSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ReadSmsService"
            android:exported="true" />
    </application>

</manifest>